.row.item
  = f.input :bottling_id, 
                  :label => false, 
                  :collection => Bottling.all, 
                  :label_method => :full_name,
                  :prompt => "Select SKU...",
                  :input_html => { :class => "span5" }
  = f.input :quantity, :label => false, :placeholder => "Quantity", :input_html => { :class => "input-small" }
  = f.link_to_remove '<i class="icon-minus icon-white"></i>'.html_safe, :class => "btn btn-danger"