// Place all the styles related to the InventoryWithdrawals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
  margin-bottom: 25px;
}

.row.item {
  margin-left: 0px;

  div, input {
    margin-right: 4px;
    display: inline-block;
  }

  a {
    vertical-align: top;
  }
}