body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #333; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
    

table, td {
  border               : 1px solid #CCC;
  border-collapse      : collapse;
  font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table {
  border                :none;
  border                :1px solid #CCC;
}
thead th, tbody th {
  background            : #FFF image-url("th_bck.gif") repeat-x;
  color                 : #666;  
  padding               : 5px 10px;
  border-left           : 1px solid #CCC;
}
tbody {
  th {
    background            : #fafafb;
    border-top            : 1px solid #CCC;
    text-align            : left;
    font-weight           : normal;
  }
  tr td {
    padding               : 2px 9px;
    color                 : #666;
  }
  tr:hover {
    background            : #FFF image-url("tr_bck.gif") repeat;
    td {
      color                 : #454545;
    }
  }
}
tfoot {
  td, th {
    border-left           : none;
    border-top            : 1px solid #CCC;
    padding               : 4px;
    background            : #FFF image-url("foot_bck.gif") repeat;
    color                 : #666;
  }
}
caption {
  text-align            : left;
  font-size             : 120%;
  padding               : 10px 0;
  color                 : #666;
}
table {
  a:link {
    color                 : #666;
  }
  a:visited {
    color                 : #666;
  }
  a:hover { 
    color                 : #003366;
    text-decoration       : none;
  }
  a:active {
    color                 : #003366;
  }
}